html {
  max-width: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Noto Sans', sans-serif;
  background-image: url("img/donut_bg.webp");
  background-repeat: repeat;
  background-color: #cccccc;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
button {
  margin: 0;
  padding: 0;
}

header {
  padding: 0px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  position: sticky;
  top: 0px;
  background: linear-gradient(#410010, #800020);
  box-shadow: 0px 2px 6px black;
  color: white;
  height: 80px;
  z-index: 5;

  button {
    font-size: 2.5rem;
    background: none;
    border: none;
  }

  i {
    color: white;
  }
}

footer {
  box-shadow: 0px 0px 15px 1px black;
  margin: 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
  gap: 10px;
  color: black;
  background-color: rgb(219, 219, 219);

  div {
    font-size: 2rem;
    display: flex;
    gap: 30px;
  }

  i {
    font-size: 3rem;
    color: blue;
  }

  .fa-instagram {
    color: purple;
  }

  #devs {
    opacity: 0.8;
  }
}

.margin {
  display: flex;
  flex-direction: column;
  gap: 5px;

  label, span, div {
    display: block;
  }
}

#paymentWindow {
  margin-bottom: 10px;

  label {
    display: block;
    margin-bottom: 10px;
  }
}

.split {
  margin-top: 20px;
  display: block;
  position: relative;
  height: 40px;

  button {
    display: block;
  }

  #orderButton {
    position: absolute;
    left: 10px;
  }

  #clearOrder {
    position: absolute;
    right: 10px;
  }
}

form {
  background-color: rgba(255, 255, 255, 0.95);
  display: none;
  padding: 5px;
  margin: 20px auto 20px auto;
  border: solid 1px black;
  border-radius: 5px;
  max-width: 600px;

  h2 {
    text-decoration: underline;
    text-align: center;
    margin-bottom: 20px;
  }

  button {
    width: 120px;
    height: 40px;
    border-radius: 10px;
    margin: 0;
    padding: 0;
    border: none;
    background-color: #800020;
    color: white;
  }

  #orderButton {
    opacity: 0.5;
  }

  .formInputLabel {
    width: 300px;
    display: block;
    margin: 0 auto;

    input {
      border-radius: 5px;
      height: 2rem;
      width: 100%;
      border: solid 1px black;
    }

    span {
      font-size: 1rem;
      margin-bottom: 1rem;
      color: red;
    }
  }
}

#addedMessage {
  display: none;
  position: fixed;
  bottom: 10px;
  left: calc(50% - 150px);
  height: 40px;
  width: 300px;
  box-shadow: 0 4px 8px 0 rgb(69, 69, 69);
  background-color: rgb(245, 245, 245);
  z-index: 3;
  text-align: center;

  span {
    display: block;
    padding: 10px;
  }
}

main {
  text-align: center;
  padding-top: 20px;

  h2 {
    padding-top: 5px;
  }

  h2, p {
    padding-bottom: 5px;
  }

  .mainHeader {
    padding: 20px;
    border-radius: 10px;
    margin: 0 auto;
    max-width: 180px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 15px 2px black;
  }
}

article {
  width: 350px;
  margin: 30px auto;
  border-radius: 1rem;
  background-color: white;
  box-shadow: 0px 0px 10px 3px rgb(0, 0, 0);

  img {
    width: 100%;
    border-radius: 1rem 1rem 0 0;
  }

  .donutContainer {
    padding: 5px 70px;
    height: 150px;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
      'header header header'
      'amount remove  add  '
      'price  remove  add  '
      'rating rating   .   '
    ;

    .amount {
      grid-area: amount;
    }

    .price {
      grid-area: price;
    }

    .remove {
      grid-area: remove;
    }

    .add {
      grid-area: add;
    }
    
    .rating {
      grid-area: rating;
    }

    h3 {
      grid-area: header;
      font-size: 1.5rem;
    }

    button {
      border: none;
      width: 3rem;
      height: 3rem;
      border-radius: 1rem;
      background: black;
      color: white;
      font-size: 2rem;
    }

    i {
      font-size: 1.5rem;
    }
  }
}

#cartContainer {
  display: none;
  position: fixed;
  top: 85px;
  right: 5px;
  margin: 0 auto;
  border: solid 1px black;
  border-radius: 10px;
  padding: 5px;
  width: 400px;
  max-width: 300px;
  z-index: 2;
  background-color: white;
  opacity: 0.95;

  #countdown {
    font-weight: bold;
    position: absolute;
    right: 5px;
    top: 5px;
  }

  .cartTitle {
    margin: 3px;
    display: inline-block;
    width: 30%;
    border-bottom: solid 2px black;
  }


  .addCart, .removeCart {
    background-color: black;
    opacity: 0.8;
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    border: none;
  }

  .cartItem {
    margin: 3px;
    display: inline-block;
    width: 30%;
  }

  #cartFooter {
    margin: 40px auto 0px auto;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    'discount discount'
    '   .     shipping'
    ' button    sum   '
    ;

    button {
      grid-area: button;
      width: 120px;
      height: 40px;
      border-radius: 10px;
      border: none;
      background-color: #800020;
      color: white;
    }

    #discount {
      font-weight: bold;
      grid-area: discount;
    }

    #shipping {
      grid-area: shipping;
    }

    #backBtn {
      background-color: rgb(73, 73, 73);
    }

    #sum {
      grid-area: sum;
      margin: 0;
      padding: 0;
      font-weight: bold;
      transition: 0.2s ease-in-out;
    }
  }
}

.rating {
  font-size: 1.5rem;
}

#paymentWindow {
  padding: 5px;
}

#confirmationWindow {
  padding: 15px;
  display: none;
  position: fixed;
  width: 80vw;
  height: 50vh;
  top: 80px;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: white;
  opacity: 0.95;
  border: solid 2px black;
  border-radius: 10px;
  color: black;
  font-size: 1.2rem;

  h2 {
    font-size: 1.8rem;
    text-decoration: underline;
  }
  
  button {
    width: 30px;
    height: 30px;
    border: none;
    background: none;
    position: absolute;
    font-size: 2rem;
    top: 10px;
    right: 10px;
    color: black;
  }

  ul {
    margin-bottom: 50px;
  
    li {
      list-style-image: url('img/donut_icon.png');
      margin-bottom: 5px;
      list-style-type: none;
    }
  }
}
