html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Noto Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

header {
  padding: 0px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  position: sticky;
  top: 0px;
  background-color: rgb(148, 148, 238);
  height: 80px;
  z-index: 5;

  button {
    height: 50px;
  }
}

.wrapper {
  padding: 10px;
}

#donuts {
  padding: 0 auto;
}

article {
  max-width: 350px;
  margin: 30px auto;
  border-radius: 1rem;
  box-shadow: 0 4px 8px 0 rgb(69, 69, 69);

  img {
    width: 100%;
    border-radius: 1rem 1rem 0 0;
  }

  .donutContainer {
    padding: 5px 70px;
    height: 150px;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(1fr, 3);
    grid-template-rows: repeat(1fr, 4);
    grid-template-areas: 
      'header header header'
      'amount remove  add  '
      'price  remove  add  '
      'rating rating   .   '
    ;

    .amount {
      grid-area: amount;
    }

    .price {
      grid-area: price;
    }

    .remove {
      grid-area: remove;
    }

    .add {
      grid-area: add;
    }
    
    .rating {
      grid-area: rating;
    }

    h3 {
      grid-area: header;
      font-size: 1.5rem;
    }

    button {
      border: none;
      width: 3rem;
      height: 3rem;
      border-radius: 1rem;
      background: black;
      color: white;
      font-size: 2rem;
    }

    i {
      font-size: 1.5rem;
    }
  }
}

form {
  padding: 5px;
  margin: 0 auto;
  border: solid 1px black;
  border-radius: 5px;

  label {
    font-size: 1.5rem;

    input {
      height: 2rem;
      border: solid 3px blue;
      margin-bottom: 1rem;
    }
  }
}

aside {
  border: solid 1px black;
  border-radius: 10px;
  margin: 10px;
  padding: 5px;

  .cartTitle {
    margin: 3px;
    display: inline-block;
    width: 30%;
    border-bottom: solid 2px black;
  }

  #cart {
    .addCart, .removeCart {
      background-color: blue;
      opacity: 0.6;
      color: white;
      width: 30px;
      height: 30px;
      border-radius: 20px;
      border: none;
    }

    span {
      margin: 3px;
      display: inline-block;
      width: 30%;
    }
    
    #sumContainer {
      margin-top: 20px;
      display: flex;
      justify-content: end;
      #sum {
        font-weight: bold;
      }
    }
  }
}

.rating {
  font-size: 1.5rem;
}

#paymentWindow {
  padding: 5px;
  border: solid 3px black;
}