h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  gap: 10px;
  position: sticky;
  top: 0px;
  background-color: rgb(148, 148, 238);

  button {
    height: 50px;
  }
}

.wrapper {
  padding: 10px;
}

article {
  margin: 0 auto;
  max-width: 90vw;
  height: 200px;
  border: 5px solid red;

  button {
    border: none;
    width: 3rem;
    height: 3rem;
    background: black;
    color: white;
    font-size: 2rem;
  }
}

form {
  padding: 5px;
  max-width: 90vw;
  margin: 0 auto;
  border: solid 1px black;
  border-radius: 5px;

  label {
    font-size: 1.5rem;

    input {
      height: 2rem;
      border: 3px solid blue;
      margin-bottom: 1rem;
    }
  }
}

aside {

  border: 4px solid black;
  border-radius: 10px;

  ul {
    list-style: none;
  }
}

.cartTitle {
  display: inline-block;
  width: 25%;
  border-bottom: solid 2px black;
}

#cart {
  span {
    display: inline-block;
    width: 25%;
  }
}